body {
  font-family: "Asap", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  background-color: #16181d;
  color: #c0c4ce;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.hero-section {
  background-image: url(../media/images/Background_Intro.jpg);
  background-size: cover;
}

.hero-photo {
}

.section-title {
  font-family: "Inconsolata", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  color: #e3646e;
}

.section-title > span {
  color: #c0c4ce;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  color: #e2e4e9;
}

.text-sm {
  font-family: "Maven Pro", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #878ea1;
}
.text-md {
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.section-subtitle {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #e2e4e9;
}
.my-works {
}
.work-title {
  font-size: 20px;
  line-height: 1.2;
}
.my-services {
  background-color: #0d0e11;
}
.contacts {
  background-image: url(../media/images/Background_Contacts.jpg);
  background-size: cover;
}
.contact-item {
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  line-height: 1.4;
}
